<div class="product-link">
    <a href="{{ product.url }}">
        <h3>{{ product.title }}</h3>
        <img src="{{ product.featured_image | image_url }}" width="400px" height="300px">
    </a>
</div>