<div class="skill-box">
    <img class="skill-image" src="{{ product.featured_image | image_url }}" width="60px" height="50px">
    <h3 class="skill-title">{{ product.title }}</h3>
    <p>{{ product.description }}</p>
</div>