.skills{
    background-color: var(--main-gray);
    padding: 5rem;
    color: var(--text-white);

    .products-list {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2rem; 
    
        .skill-box {
            max-height: 16rem;
            border: 1px solid var(--light-gray);
            padding: 2rem;
            box-shadow: 2px 2px 2px 2px var(--light-gray);

            &:hover{
                opacity: 0.75;
                transition: all 0.3s ease-in-out;
                box-shadow: 4px 4px 4px 4px var(--light-gray);
            }

            li{
                margin-left: -20px;
                margin-bottom: 10px;
                color: var(--bright-gray);
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
}