<html> 

    <head>
        {{ content_for_header }}
        {{ 'style.css' | asset_url | stylesheet_tag }}
        <script defer src="https://kit.fontawesome.com/46336025a2.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="wrapper">
            {{ content_for_layout }}
            {% comment %} {% section 'footer' %} {% endcomment %}
        </div>
        {% comment %} {{ 'script.js' | asset_url | script_tag }} {% endcomment %}
    </body>
    
</html>