<html> 

    <head>
        {{ content_for_header }}
        {{ 'style.css' | asset_url | stylesheet_tag }}
        <script defer src="https://kit.fontawesome.com/46336025a2.js" crossorigin="anonymous"></script>
    </head>

    <body>
        {% section 'header' %}
        {{ content_for_layout }}
        {{ 'script.js' | asset_url | script_tag }}
    </body>
    
</html>