@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root{
    --main-theme: #ad9263;
    --light-theme: #e5dccd;
    --dark-theme: #91784c;
    --main-gray: #1c1c1c;
    --light-gray: #666668;
    --bright-gray: #c1c1c1;
    --text-dark: #333333;
    --text-white: #fff;
    --text-gray: #777777;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;

    h1, h2, h3, h4, h5, h6{
        font-family: 'DM sans', sans-serif;
        font-weight: 700;
    }
    h1{ 
        font-size: 50; 
        @media (min-width: 768px){
             font-size: 60px; 
        } 
    }
    h2{ 
        font-size: 35px; 
        @media (min-width: 768px){
             font-size: 45px; 
        } 
    }
    h3{ 
        font-size: 25px; 
    }
    h4{
        font-size: 20px;
    }
}

a{
    font-weight: 500;
    text-decoration: none;
    color: var(--main-theme);
    transition: all 0.25s ease-in-out;

    &:hover{
        text-decoration: underline;
    }
}