<header>
    <div class="container">
        {% comment %} <ul class="link-list">
            {% for link in linklists.main-menu.links -%}
                {{ link.title | link_to: link.url }}
            {%- endfor  %}
        </ul> {% endcomment %}
        <p>HEADER IS HERE</p>
        <p>HEADER IS HERE</p>
        <p>HEADER IS HERE</p>
        <a href="/">HOME</a>
        <div>
            <h1>TJENA</h1>
        </div> 
    </div>
</header>