<header>
    <div class="container">
        {% comment %} <img src="{{ 'Luxury-Logo.png' | asset_url }}" width="80px" height="80px"> {% endcomment %}
        <ul class="link-list">
            {% for link in linklists.main-menu.links -%}
                {{ link.title | link_to: link.url }}
            {%- endfor  %}
        </ul>
        <div class="social-media">
            <a class="btn-theme" href="https://www.linkedin.com/in/robin-gombkötö"><i class="fa-brands fa-linkedin"></i></a>
            <a class="btn-theme" href="https://github.com/Fillja"><i class="fa-brands fa-github"></i></a>
        </div>
    </div>
</header>