<section class="showcase">
    <div class="container">
        <div class="showcase-title">
            <h1>Charismatic Web Developer based in Karlshamn</h1>
            <p>Hello, I am Robin Gombkötö, a fullstack web developer. <br/> Welcome to my personal page. </p>
            <a class="btn-theme" href="/pages/about">About me</a>
            <img src="{{ 'Pattern-line.svg' | asset_url }}" height="300px" width="300px">
        </div>
        <img class="profile-image" src="{{ 'Me-1.jpg' | asset_url }}" height="400px" width="300px">
    </div>
</section>