<div class="background-image"></div>
<section class="showcase">
    
    <div class="container">
        <div class="showcase-title">
            <h1><img class="line" src="{{ 'Pattern-line.svg' | asset_url }}" height="250px" width="250px">Charismatic Web Developer based in Karlshamn</h1>
            <p>Hello, I am Robin Gombkötö, a fullstack web developer. <br/> Welcome to my personal page. </p>
            <a class="btn-theme" href="/pages/about">About me</a>
        </div>
    </div>
</section>