<section class="showcase">
    <div class="container">
        <div class="showcase-title">
            <h1>Charismatic Web Designer based in Karlshamn</h1>
            <p>Hello, I am Robin Gombkötö, a Web Designer. Welcome to my personal page. </p>
        </div>
    </div>
</section>