<section class="showcase">
    <div class="container">
        <div class="showcase-title">
            <h1>Charismatic Web Designer based in Karlshamn</h1>
            <p>Hello, I am Robin Gombkötö, a Web Designer. Welcome to my personal page. </p>
            <a class="btn-theme" href="/pages/about">About me</a>
        </div>
        <img src="{{ 'Me-1.jpg' | asset_url }}" height="100px" width="100px">
    </div>
</section>