<section class="skills">
    <div class="container">
        <h1>{{ collections['skills'].title }}</h1>
    
        <div class="products-list">
            {% for product in collections['skills'].products %}
                {% render 'skill-items', product: product %}
            {% endfor %}
        </div>
    </div>
</section>