@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
header {
  background-color: var(--main-gray);
  padding: 2rem 0;
}
header .link-list {
  margin: 0;
  padding: 0;
}

.skills {
  padding: 5rem;
  color: var(--text-white);
}
.skills .products-list {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.skills .products-list .skill-box {
  max-height: 16rem;
  border: 1px solid var(--light-gray);
  padding: 2rem;
}
.skills .products-list .skill-box:nth-child(1) {
  border-top: 0px solid var(--light-gray);
  border-left: 0px solid var(--light-gray);
}
.skills .products-list .skill-box:nth-child(2) {
  border-top: 0px solid var(--light-gray);
}
.skills .products-list .skill-box:nth-child(3) {
  border-top: 0px solid var(--light-gray);
}
.skills .products-list .skill-box:nth-child(4) {
  border-top: 0px solid var(--light-gray);
  border-right: 0px solid var(--light-gray);
}
.skills .products-list .skill-box:nth-child(5) {
  border-bottom: 0px solid var(--light-gray);
  border-left: 0px solid var(--light-gray);
}
.skills .products-list .skill-box:nth-child(6) {
  border-bottom: 0px solid var(--light-gray);
}
.skills .products-list .skill-box:nth-child(7) {
  border-bottom: 0px solid var(--light-gray);
}
.skills .products-list .skill-box:nth-child(8) {
  border-bottom: 0px solid var(--light-gray);
  border-right: 0px solid var(--light-gray);
}
.skills .products-list .skill-box:hover {
  opacity: 0.75;
  transition: all 0.4s ease-in-out;
  box-shadow: 3px 3px 3px 3px var(--light-gray);
}
.skills .products-list .skill-box li {
  margin-left: -20px;
  margin-bottom: 10px;
  color: var(--bright-gray);
  font-size: 14px;
  font-weight: 500;
}

:root {
  --main-theme: #ad9263;
  --light-theme: #e5dccd;
  --dark-theme: #91784c;
  --main-gray: #1c1c1c;
  --light-gray: #666668;
  --bright-gray: #c1c1c1;
  --text-dark: #333333;
  --text-white: #fff;
  --text-gray: #777777;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
html, body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
html h1, html h2, html h3, html h4, html h5, html h6, body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "DM sans", sans-serif;
  font-weight: 700;
}
html h1, body h1 {
  font-size: 50;
}
@media (min-width: 768px) {
  html h1, body h1 {
    font-size: 60px;
  }
}
html h2, body h2 {
  font-size: 35px;
}
@media (min-width: 768px) {
  html h2, body h2 {
    font-size: 45px;
  }
}
html h3, body h3 {
  font-size: 25px;
}
html h4, body h4 {
  font-size: 20px;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: var(--main-theme);
  transition: all 0.25s ease-in-out;
}
a:hover {
  text-decoration: underline;
}