<h2>{{ collections['skills'].title }}</h2>

<div class="product-box">
    {% for product in collections['skills'].products %}
        {% render 'skill-items', product: product %}
    {% endfor %}
</div>