<section class="about">
    <div class="container">
        <div class="about-content">
            <div class="about-text">
                <h2>Robin Gombkötö</h2>
                <p>{{ page.content }}</p>
                <a class="btn-theme" href="/pages/contact">Contact me</a>
            </div>
            <img class="profile-image" src="{{ 'Me-1.jpg' | asset_url }}" height="450px" width="350px">
        </div>
    </div>
</section>