<section class="about">
    <div class="container">
        <img class="profile-image" src="{{ 'Me-1.jpg' | asset_url }}" height="400px" width="300px">
        <h1>HELLOOOOO</h1>
    </div>
</section>