:root{
    --white: #fff;
    --main-theme: #ad9263;
    --light-theme: #e5dccd;
    --dark-theme: #6e5c3a;
    --main-gray: #121212;
    --secondary-gray: #1e1e1e;
    --light-gray: #666668;
    --bright-gray: #c1c1c1;
    --text-dark: #333333;
    --text-gray: #777777;
}