html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;

    h1, h2, h3, h4, h5, h6{
        font-family: 'DM sans', sans-serif;
        font-weight: 700;
    }
    h1{ 
        font-size: 50; 
        @media (min-width: 768px){
             font-size: 60px; 
        } 
    }
    h2{ 
        font-size: 35px; 
        @media (min-width: 768px){
             font-size: 45px; 
        } 
    }
    h3{ 
        font-size: 25px; 
    }
    h4{
        font-size: 20px;
    }
}